#body {
    background-color: #15171e;
}
#body-interna {
    background-color: #1a2449;
}
.banner {
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    background-image: url('/midia/banner2.jpg'); 
    background-size: cover;
}
.banner-interna {
    width: 100%; 
    height: 40vh; 
    overflow: hidden; 
    background-image: url('/midia/banner-laranja.jpg'); 
    background-size: cover;
}
#menu-computador {
    margin: 20px; 
    border-radius:5px; 
    padding: 0px;
    background-color: #ffffffbd!important
}
.col-1 {
    background-color: #ffffff; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}
#logo-menu-pc {
    display: block; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}
.navbar-brand-img-logo {
    width: 68%; 
    margin-left: 1.4rem;
}
.col-7 {
    display: flex; 
    padding-left: 10%;
}
.btn.btn-primary.hov {
    background-color: transparent; 
    text-align: center; 
    border-color: transparent; 
    color: black; 
    font-size: 18px; 
}
.hov:hover,
.btn.btn-primary.logar:hover,
.nav-link:hover {
    background-color: rgba(0,0,0,0.05)!important;
    color: orangered!important;
}
.col-4 {
    padding-right: 35px;
}
.btn.btn-primary.inscreverse {
    background-color: rgb(240, 100, 20)!important; 
    text-align: center; 
    border-color: transparent; 
    font-size: 18px;
}
.btn.btn-primary.logar {
    background-color: transparent; 
    text-align: center; 
    border-color: transparent; 
    color: black; 
    font-size: 18px;
}
.navbar-brand-img.logo-mobile {
    width: 5%; 
    margin-left: 1.4rem;
}
.navbar-brand-img.logo-menu-mobile {
    width: 100%; 
    text-align: center; 
    margin-top: 5%;
}
.navbar-nav.justify-content-end.flex-grow-1.pe-3 {
    margin-top: 5%
}
.nav-link {
    font-size: 22px;
}
.btn-group.float-end.botao-logar {
    padding-right: 15px;
}
.text-titulo {
    color: white; 
    position: relative; 
    width: 100%; 
    overflow: hidden; 
    padding-top: 5%; 
    text-align: center;
}
.categoria-botao-shop {
    padding-top: 20px; 
    background-color: #ffffff; 
}
.title-category-shop,
.title-shop-product {
    text-align: center; 
    position: relative;
    color:#15171e; 
    background-color: #ffffff;
    margin-bottom: 40px;
}
.container.container-categoria,
.container.container-shop {
    padding-top: 10px; 
    padding-bottom: 50px;
}
.row,
.card-body,
.pag-titulo,
.input-row,
.titulo-pag,
#frete-table {
    text-align: center;
}
.col-md-8.img-category {
    border-radius: 15%;
    margin-bottom: 10px;
}
.img-category {
    transition: all 0.3s ease;
    position: relative;
}
.img-category:hover {
    transform: scale(1.1);
    filter: brightness(35%);
}
.line-through {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}
.shop-produtos {
    padding-top: 10px; 
    background-color: #ffffff; 
    padding-bottom: 20px;
}
.col {
    margin-bottom: 25px;
}
.card {
    width: 18rem;
    transition: all 0.3s ease;
    position: relative;
}
.card-category-serie,
.card-category-anime,
.card-category-filme,
.nome-loja {
    color: #777777;
}
.card-price {
    color: green;
}
.card:hover {
    transform: scale(1.1);
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    border: solid 1px black;
}
.popup button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.popup button:hover,
button:hover {
    background-color: orangered;
}
#footer {
    text-align: center; 
    background-color: #15171e;
}
.footer-text {
    color: white!important; 
    text-align: center; 
    font-size: 30px; 
    margin-top: 25px;
}
.redes-sociais {
    width: 3%; 
    height: 3%;
}
.redes-sociais.i {
    width: 3%; 
    height: 3%;
    margin-right: 20px; 
    margin-left: 30px;
}
.navbar-brand-img.logo-footer {
    width: 8%; 
    margin-top: 35px; 
    margin-bottom: 35px;
}
.direitos-reservados {
    color: #777777; 
    padding-bottom: 25px;
}
.container {
    background-color: #ffffff; 
    padding-top: 25px; 
    border-radius: 0px 0px 35px 35px; 
    padding-bottom: 50px;
}
#segundo-form {
    display: none; 
    text-align: end; 
    margin-top: -25px;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.form-row > div {
    flex: 1;
    margin-right: 10px;
}
.form-row > div:last-child {
    margin-right: 0;
}
.label-contato {
    display: block;
    margin-bottom: 0.5rem;
}
.form-contato {
    width: 100%;
    padding: 0.5rem;
}
.botao-contato {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}
#message-success {
    display: none; 
    text-align: center; 
    font-size: 30px;
    color: green;
}
.img-fluid {
    border-radius: 25px 25px 25px 25px;
}
.final-titulo {
    text-align: center; 
    padding-bottom: 30px;
}
.container-img-text {
    display: flex;
    align-items: center;
}
.container-img-text img {
    max-width: 45%;
    height: auto;
}
.container-img-text .text {
    padding: 20px;
}
#empty-row {
    display: none;
}
#frete-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}